{{ partial "header.html" . }}

{{ if .Params.displayTiles }}
  <section class="tile-group">
  {{ $tileGroup := .Page.Params.tile.group }}
  {{ range (.Page.Pages | union .Page.Sections) }}
    {{ if eq .Params.tile.belongsToGroup $tileGroup }}
      {{ partial "tile.html" . }}
    {{ end }}
  {{ end }}
  </section>
{{ end }}

{{ if eq .Kind "section" }}
  <section id="list-section-content">
   {{ .Content }}
  </section>
{{end}}

{{ if or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
<ul>
	{{ range .Pages }}
		<li><a href="{{.URL}}">{{.Title}}</a></li>
	{{ end }}
</ul>
{{end}}

<footer class="footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}
