
:root{
    --BODY-BACKGROUND-color:#f9f9f9;
    --MAIN-TEXT-color:#323232; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #4e4e4e; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#ce0396; /* Color of links */
    --MAIN-LINK-HOVER-color:#ce0396; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1C90F3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#111130; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#ce0396; /*Color of menu header border */

    --MENU-SEARCH-BG-color:#f9f9f9; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #999999; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #ce0396; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color:#C1D1EA; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#393166; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #555; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #f9f9f9; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */
}

body {
    color: var(--MAIN-TEXT-color) !important;
    background-color: var(--BODY-BACKGROUND-color);
    font-family: "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}


h1, h2, h3, h4, h5, h6 {
  word-break: break-word;
  font-weight: bold;
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}


a {
  color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
  color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
  background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
  border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

#sidebar ul > li.dd-item > a {
  font-weight: bold !important;
}

#body .nav-shortcodes-tabs {
    position: relative;
}

#sidebar #shortcuts h3 {
  font-family: "Helvetica", "Tahoma", "Geneva", "Arial", "sans-serif";
  font-weight: normal;
  color: #ce0396 !important;
  padding-left: 0rem;
}

#chapter #list-section-content h1 {
  text-align: center;
}

#list-section-content h1, #single-page-content h1 {
  text-align: left;
  font-size: 2.5rem;
  margin-top: 4rem;
}

@media only all and (max-width: 47.938em) {
  #body-inner-title h1{
      font-size: 2rem;
  }

  #list-section-content h1 {
      font-size: 2rem;
  }
}

.anchor {
  color: #bbbbbb;
}

h1 .anchor {
  visibility: visible;
  line-height: 4rem;
  font-size: 1rem;
}

h2 .anchor {
  visibility: visible;
  line-height: 2.2rem;
  font-size: 0.7rem;
}

h3 .anchor {
  visibility: visible;
  line-height: 2.1rem;
  font-size: 0.6rem;
}

h4 .anchor {
  visibility: visible;
  line-height: 1.6rem;
  font-size: 0.6rem;
}

h5 .anchor {
  visibility: visible;
  line-height: 1.2rem;
  font-size: 0.5rem;
}

h6 .anchor {
  visibility: visible;
  line-height: 1.2rem;
  font-size: 0.4rem;
}

#body-inner-title h1 {
  font-size: 3rem
}

#body-inner-title h1 i {
  display: none
}

.tile-group {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  word-break: break-word;
}

.tile-group .icon {
  font-size: 3rem;
  color: #111111;
}

.tile-content {
  display: inline-flex;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  padding: 3rem 1rem;
  text-align: center;
}

.tile-content h3 {
  font-size: 2rem;
}

.tile-content p {
  font-size: 1.5rem;
  color: #666666;
}

@media only all and (max-width: 47.938em) {
  .tile-content h3 {
    font-size: 1.8rem
  }

  .tile-content p {
    font-size: 1rem
  }

  #body-inner-title h1 {
    font-size: 2.6rem
  }
}

.tile-content p:hover {
  text-decoration: none
}

#list-section-content img,
#list-section-content table,
#single-page-content img,
#single-page-content table,
.notices {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#sidebar ul li li {
    padding-left: 0;
    text-indent: 0;
    margin-left: 1rem
}

#sidebar #TableOfContents {
  padding: 0 !important;
  margin-left: 0;
  max-height: 50vh;
  overflow: auto;
}

#sidebar ul li, #top-bar #TableOfContents ul li {
  list-style-type: square;
  color: #ce0396;
}

#TableOfContents ul  li  a   {
  padding: 0.1rem 0;
  text-indent: 0;
}

#sidebar ul li li, #top-bar #TableOfContents ul li li {
  list-style-type: disc;
  color: #ce0396;
}

#top-bar #TableOfContents ul {
  padding-left: 1rem;
}

#top-bar {
  position: fixed;
  top: 0;
  left: 300px;
  width: 100%;
  z-index: 99999;
  background-color: #dddddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#top-bar a {
  color: #999;
}

#sidebar ul.topics > li.parent a {
  color: #555
}

#sidebar .highlightable {
  padding-left: 0.5rem;
}

#sidebar #shortcuts a, #sidebar #prefooter a, #sidebar #footer {
  padding-left: 0rem;
}

@media only all and (max-width: 59.938em) {
#top-bar {
    left: 230px;
  }
}

@media only all and (max-width: 47.938em) {
  #top-bar {
    left: 0px;
  }

  #sidebar {
    top:3rem;
  }

  #body .padding {
    padding-top: 4rem;
  }
}
